
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}



/* colors:#A6CBD5, #FDF8EF, #D5CEC9,#2F3A32, #EFBDA6
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;
Photo by Sketch the Sun on Unsplash
*/

body{
  background-color:#D5CEC9;
  color: black;
  font-family: open sans, sans-serif;
  position: static;
  text-align: center;

}

nav{
  padding:30px;
  width:100%;
  position: fixed;
  top: 0;
  background-color: #2F333B;
  text-align: center;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 50px;
  top: 12px;

}

  header{
  height: 600px;
  margin-top: 30px;
  background-image: url("../img/sketch-the-sun-167556.jpg");
  background-size: cover;
  z-index: 100;

}


h1{
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 60px;
  padding: 20px;
}

h2{
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 40px;
}

h3{
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 32px;
  margin: 20px 10px;

}


a{
  text-decoration: none;
  color: black;
}

#work a{
  font-size:30px;
  font-weight:600;

}

p{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;

}

footer{
  background-color: #2F333B;
  height: 100px;
  bottom: 0;


}

footer p{
  color: white;
  display: inline;
}

footer a{
  color:white;
}
div .headeretc{
  position: relative;
}

#work{
  height: 100px;
  margin-top: 20px;


}


.headeretc{
  position: absolute;
  top: 200px;

}

.about{
  background-color: #FDF8EF;
  height: 300px;
  margin-top: 20px;
}



.pages{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 400px;
  border: solid gray 2px;
  font-style: Lora;
  Font-size: 24px;
  font-weight: 600;

}



 .col-1-2{
  flex-basis: 48%;

}





.links{
  margin-top: 50px;
  height: 250px;
}

.col-1-2 {
